<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        title your shop
        link(rel="SHORTCUT ICON", href="../img/title.png")
    body
        button#logOut log out
        h1= locals.user.name + " " + locals.user.lastname
    script(src="../js/logOut.js")
        