<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        title your shop
        link(rel="SHORTCUT ICON", href="../../img/title.png")
        link(href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet")
        link(rel="stylesheet", href="../../css/reset.css")
        link(rel="stylesheet", href="../../css/add.css")
    body
        header.header.fixed
            .container.flex-space-around
                a(href="/user/" + locals.logedIn)
                    img.header__logo(src="../../img/title.png", alt="")
                form.flex-space-btw.search__box
                    input(type="hidden" name="method" value="search")
                    input.search-inp(type="text" name="search" placeholder="...Search" required)
                    button
                        i.fas.fa-search.search-btn
                a.nav-item(href="/user/" + locals.logedIn + "/MyProducts") My products
                if locals.user.userType == "company"
                    a.user-name= locals.user.name + " " + locals.user.lastname + " (" + locals.user.companyName + ")"
                else
                    a.user-name= locals.user.name + " " + locals.user.lastname
                button#logOut.logout Log Out
        main.product-box
            .container
                form.add-box


        script(src="../../js/logOut.js")